/*
  html, body, a
  wraps
  rows, columns
  elements
  tags
  tx-browser-pi1
*/



/**********************************
*
* html, body, a */

html {
  height: auto; /* 140713, dwildt: foundation default is 100%. But than linear gradient doesn't scroll. */
}

body {

  background-color: rgb(114,112,111); /* Old browsers */
  background: -moz-linear-gradient(top, #444 0%, rgb(114,112,111) 50%, rgb(114,112,111) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(50%,#72706f), color-stop(100%,#72706f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #444 0%, rgb(114,112,111) 50%, rgb(114,112,111) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #444 0%, rgb(114,112,111) 50%, rgb(114,112,111) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #444 0%, rgb(114,112,111) 50%, rgb(114,112,111) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#72706f',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #444 0%, rgb(114,112,111) 50%, rgb(114,112,111) 100%); /* W3C */

  font-family: 'DejaVu Sans Condensed', Trebuchet MS, Geneva, Arial, Helvetica, Verdana, sans-serif;
  /*    font-size: 81%;
      -webkit-text-size-adjust: 81%;
      -ms-text-size-adjust: 81%;*/
  margin: 0 auto;
  position: relative;
  width: 100%;
}
#columnscontent a:not(.button) {
  font-weight:bold;
  text-decoration:none;
}
#columnscontent a:not(.button),
#columnscontent a:not(.button):link,
#columnscontent a:not(.button):visited {
  color:#F79210;
}
#columnscontent a:not(.button):active,
#columnscontent a:not(.button):focus,
#columnscontent a:not(.button):hover {
  color:#8B0000;
}
/* html, body, a */



/**********************************
*
* rows, columns */

#rowheader {
  background-color: #F79210;
  background-image:url("background/typo3_slider_cmyk_1000x130.png");
  background-repeat:repeat-y;
  /*  height:130px;*/
  overflow: hidden;
  color: white;
}
#rowfootercontent {
  background-color: #F79210;
  color: white;
}
#rowfootermenu {
  background-color: #333;
  color: white;
}
#rowfootermenu li {
  margin-bottom:0.2em;
}
#rowtopbar {
  background-color: #333;
  color: white;
}
#rowcenter {
  background-color: #FFF;
}

#columnslogo {
  padding-top:14px;
}

#columnscontent {
  padding-bottom:1em;
  padding-top:1em;
}

#columnsslider {
  background-image:url("background/typo3_slider_cmyk_1000x130");
  background-repeat:repeat-y;
  /*  height:130px;*/
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

#columnsfootercontent {
  padding:1em 0 .1em 0;
  text-align:center;
}


.shadow {
  margin: 0px auto;
  max-width: 62.5rem;
  width: 100%;
  -moz-box-box-shadow: 0px 0px 15px #222;
  -webkit-box-shadow: 0px 0px 15px #222;
  box-shadow: 0px 0px 15px #222;
}
/* rows, columns */

/**********************************
*
* wraps */

#wrap-outer {
  background: transparent url("background/typo3_netzmacher_background.png") scroll center repeat;
  min-height: 96%;
  padding: 2% 0;
}
/* wraps */



/**********************************
*
* elements */

#content ul#record-browser {
  margin: 0;
}
#content p.backbutton {
  font-size: .8em;
}
input.ui-button {
  font-size: .8em;
}

#slider h1,
#slider h2,
#slider h3,
#slider p {
  padding:0.4em 1em 0 1em;
}
/* elements */



/**********************************
*
* tags */

h1.align-center,
h2.align-center,
h3.align-center,
p.align-center {
  text-align:center;
}
h1.align-right,
h2.align-right,
h3.align-right,
p.align-right  {
  text-align:right;
}
#columnstopbar a,
#columnstopbar a:link,
#columnstopbar a:visited,
#header a,
#header a:link,
#header a:visited,
#columnsfootercontent a,
#columnsfootercontent a:link,
#columnsfootercontent a:visited {
  color:white;
  text-decoration:none;
}
#columnstopbar a:active,
#columnstopbar a:focus,
#columnstopbar a:hover,
#header a:active,
#header a:focus,
#header a:hover,
#columnsfootercontent a:active,
#columnsfootercontent a:focus,
#columnsfootercontent a:hover {
  color:#960000;
  text-decoration:none;
}
#rowfootermenu a,
#rowfootermenu a:link,
#rowfootermenu a:visited
{
  color:#BBB;
  text-decoration:none;
}
#rowfootermenu a:active,
#rowfootermenu a:focus,
#rowfootermenu a:hover,
#rowfootermenu .active a,
#rowfootermenu .active a:link,
#rowfootermenu .active a:visited
{
  color:#F79210;
}
#rowfootermenu .active a:active,
#rowfootermenu .active a:focus,
#rowfootermenu .active a:hover
{
  color:#FFF;
}
#rowfootermenu a:not(.button)
{
  font-weight:normal;
  padding-bottom: 0;
  padding-top: 0;
}

#rowfootermenu .spc
{
  padding: 0 0.875rem;
}
#rowfootermenu .spc hr
{
  border-color: #BBB;
  margin: 0.75rem 0px;
}

#columnstopbar ul,
#columnstopbar ol {
  color:white;
  list-style:none;
  margin:0;
  padding:0;
}
#columnstopbar ul ul,
#columnstopbar ol ol {
  margin-left: 1em;
}
#columnstopbar ul ul ul,
#columnstopbar ol ol ol {
  margin-left: 2em;
}
#columnstopbar ul ul ul ul,
#columnstopbar ol ol ol ol {
  margin-left: 3em;
}
/* tags */




/* tx-browser-pi1 */
#columnscontent .tx-browser-pi1 .filter a:not(.button),
#columnscontent .tx-browser-pi1 .filter  a:not(.button):link,
#columnscontent .tx-browser-pi1 .filter  a:not(.button):visited,
#columnscontent .tx-browser-pi1 .listview a:not(.button),
#columnscontent .tx-browser-pi1 .listview  a:not(.button):link,
#columnscontent .tx-browser-pi1 .listview  a:not(.button):visited,
#columnscontent .tx-caddy-pi1 a:not(.button),
#columnscontent .tx-caddy-pi1  a:not(.button):link,
#columnscontent .tx-caddy-pi1  a:not(.button):visited,
#columnscontent .tx-powermail a:not(.button),
#columnscontent .tx-powermail  a:not(.button):link,
#columnscontent .tx-powermail  a:not(.button):visited {
  color:#000;
  text-decoration:none;
}
#columnscontent .tx-browser-pi1 .filter  a:not(.button):active,
#columnscontent .tx-browser-pi1 .filter  a:not(.button):focus,
#columnscontent .tx-browser-pi1 .filter  a:not(.button):hover,
#columnscontent .tx-browser-pi1 .listview  a:not(.button):active,
#columnscontent .tx-browser-pi1 .listview  a:not(.button):focus,
#columnscontent .tx-browser-pi1 .listview  a:not(.button):hover,
#columnscontent .tx-caddy-pi1  a:not(.button):active,
#columnscontent .tx-caddy-pi1  a:not(.button):focus,
#columnscontent .tx-caddy-pi1  a:not(.button):hover,
#columnscontent .tx-powermail  a:not(.button):active,
#columnscontent .tx-powermail  a:not(.button):focus,
#columnscontent .tx-powermail  a:not(.button):hover {
  color:#F79210;
}
.tx-browser-pi1 ul.indexBrowser li.selected, .tx-browser-pi1 ul.modeSelector li.selected {
  background:none repeat scroll 0 0 #FF8C00;
}
.tx-browser-pi1 .sword {
  width:10em;
}

.searchbox fieldset,
.selectboxorderby fieldset {
  border:0;
  padding:0;
}
.searchbox fieldset legend,
.selectboxorderby fieldset legend {
  display:none;
}
/* tx-browser-pi1 */

#columnscontent ul.pagination li a,
#columnscontent ul.pagination li button,
#columnscontent ul.pagination li.unavailable a,
#columnscontent ul.pagination li.unavailable button {
  color: #999999 !important;
}
#columnscontent ul.pagination li.current a,
#columnscontent ul.pagination li.current button {
  color: #FFFFFF !important;
}

