/*
  html, body, a
  wraps
  rows, columns
  elements
  tags
  tx-browser-pi1
  foundation
*/



/**********************************
*
* html, body, a */

html {
  height: auto; /* 140713, dwildt: foundation default is 100%. But than linear gradient doesn't scroll. */
}

body {

  background-color: rgb(114,112,111); /* Old browsers */
  background: -moz-linear-gradient(top, #444 0%, rgb(114,112,111) 50%, rgb(114,112,111) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(50%,#72706f), color-stop(100%,#72706f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #444 0%, rgb(114,112,111) 50%, rgb(114,112,111) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #444 0%, rgb(114,112,111) 50%, rgb(114,112,111) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #444 0%, rgb(114,112,111) 50%, rgb(114,112,111) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#72706f',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #444 0%, rgb(114,112,111) 50%, rgb(114,112,111) 100%); /* W3C */

  font-family: 'DejaVu Sans Condensed', Trebuchet MS, Geneva, Arial, Helvetica, Verdana, sans-serif;
  /*    font-size: 81%;
      -webkit-text-size-adjust: 81%;
      -ms-text-size-adjust: 81%;*/
  margin: 0 auto;
  position: relative;
  width: 100%;
}
a {
  font-weight:bold;
}
a,
a:link,
a:visited {
  color:#F79210;
  text-decoration:none;
}
a:active,
a:focus,
a:hover {
  color:#8B0000;
}
/* html, body, a */



/**********************************
*
* rows, columns */

#rowheader, #rowfooter {
  background-color: #F79210;
  color: white;
}
#rowtopbar {
  background-color: #333;
  color: white;
}
#rowcenter {
  background-color: #FFF;
}

#columnscontent {
  padding-top:1em;
}

#columnsslider {
  background-image:url("background/typo3_slider_cmyk_1000x130.png");
  background-repeat:repeat-y;
  height:130px;
  overflow: hidden;
}

#columnsfooter {
  padding:1em 0 .1em 0;
  text-align:center;
}


.shadow {
  margin: 0px auto;
  max-width: 62.5rem;
  width: 100%;
  -moz-box-box-shadow: 0px 0px 15px #222;
  -webkit-box-shadow: 0px 0px 15px #222;
  box-shadow: 0px 0px 15px #222;
}
/* rows, columns */

/**********************************
*
* wraps */

#wrap-outer {
  background: transparent url("background/typo3_netzmacher_background.png") scroll center repeat;
  backgr
  min-height: 98%;
  padding: 2% 0;
}
/* wraps */



/**********************************
*
* elements */

#content ul#record-browser {
  margin: 0;
}
#content p.backbutton {
  font-size: .8em;
}
input.ui-button {
  font-size: .8em;
}

#slider h1,
#slider h2,
#slider h3,
#slider p {
  padding:0.4em 1em 0 1em;
}
/* elements */



/**********************************
*
* tags */

xh1 {
  font-size:2em;
  margin-bottom:.4em;
}
xh2 {
  font-size:1.4em;
}
h1.align-center,
h2.align-center,
h3.align-center,
p.align-center {
  text-align:center;
}
h1.align-right,
h2.align-right,
h3.align-right,
p.align-right  {
  text-align:right;
}
#columnstopbar a,
#columnstopbar a:link,
#columnstopbar a:visited,
#header a,
#header a:link,
#header a:visited,
#columnsfooter a,
#columnsfooter a:link,
#columnsfooter a:visited {
  color:white;
  text-decoration:none;
}
#columnstopbar a:active,
#columnstopbar a:focus,
#columnstopbar a:hover,
#header a:active,
#header a:focus,
#header a:hover,
#columnsfooter a:active,
#columnsfooter a:focus,
#columnsfooter a:hover {
  color:#960000;
  text-decoration:none;
}

#columnstopbar ul,
#columnstopbar ol {
  color:white;
  list-style:none;
  margin:0;
  padding:0;
}
#columnstopbar ul ul,
#columnstopbar ol ol {
  margin-left: 1em;
}
#columnstopbar ul ul ul,
#columnstopbar ol ol ol {
  margin-left: 2em;
}
#columnstopbar ul ul ul ul,
#columnstopbar ol ol ol ol {
  margin-left: 3em;
}
/* tags */




/* tx-browser-pi1 */
.tx-browser-pi1 a,
.tx-browser-pi1 a:link,
.tx-browser-pi1 a:visited {
  color:#000;
  text-decoration:none;
}
.tx-browser-pi1 a.inverse,
.tx-browser-pi1 a.inverse:link,
.tx-browser-pi1 a.inverse:visited {
  color:#FFF;
}
.tx-browser-pi1 a:active,
.tx-browser-pi1 a:focus,
.tx-browser-pi1 a:hover {
  color:#F79210;
}
.tx-browser-pi1 a.inverse:active,
.tx-browser-pi1 a.inverse:focus,
.tx-browser-pi1 a.inverse:hover {
  color:#8B0000;
  color:#F79210;
}
.tx-browser-pi1 ul.indexBrowser li.selected, .tx-browser-pi1 ul.modeSelector li.selected {
  background:none repeat scroll 0 0 #FF8C00;
}
.tx-browser-pi1 .sword {
  width:10em;
}

.searchbox fieldset,
.selectboxorderby fieldset {
  border:0;
  padding:0;
}
.searchbox fieldset legend,
.selectboxorderby fieldset legend {
  display:none;
}
/* tx-browser-pi1 */

/* foundation */
a.button,
a.button:link,
a.button:visited {
  color:#FFF;
}
a.button:active,
a.button:focus,
a.button:hover {
  color:#FFF;
}

ul.pricing-table li.title {
  background-color:inherit;
  padding:0;
}
ul.pricing-table li.title .button {
  /*color:#FFF;*/
  font-weight:bold;
  margin:0;
}
ul.pricing-table li.price,
ul.pricing-table li.title .button {
  font-size:1.6rem;
}

